/*!
 * Custom DISID page with corporative theme
 */


::-moz-selection {
    text-shadow: none;
    background: #{{ site.color.primary }};
}

::selection {
    text-shadow: none;
    background: #{{ site.color.primary }};
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #{{ site.color.primary }};
}

/* ==========================================================================
Preloader
========================================================================== */

.preloader {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: white;
}

.preloader img {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.preloader div {
  display: none;
  /* Preload the Second Pricing Image */
  background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
  background-position: 9999px 9999px;
}

/* ==========================================================================
Header
========================================================================== */

footer .footer-nav ul.footer-secondary-nav li small{
  font-size: 80%;
  margin: 1em 0;
  display: block;
}


/* ==========================================================================
Header
========================================================================== */

header.hero{
  padding: 0;
}

header.hero h1 {
    margin-bottom: 0;
}

header.hero .hero-bg .hero-intro-text {
    margin-top: 0px;
}
header.hero .hero-bg .hero-intro-text p{
      margin-bottom: 40px;
}

header .typed {
  display: inline-block;
  margin: 0;
  margin-bottom: 0px;
}

header .typed-cursor {
  font-size: 60px;
  display: inline-block;
  margin: 0 10px;
  color: #71D5D2;
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media(max-width: 400px) {
  header .typed-cursor {
    display: none;
  }
}

/* ==========================================================================
Navbar
========================================================================== */

.navbar-brand{
  padding: 0 15px;
}

.header-nav-wrapper {
    background-color: transparent;
}
.header-nav-wrapper .logo {
    display: inline-block;
    width: 200px;
    padding: 30px 0;
    text-align: center;
    border-bottom: none;
    background-color: transparent;
}
.secondary-nav-wrapper ul.secondary-nav li.subscribe a,
.header-nav-wrapper nav ul li a {
    color: #fff;
}
.navbar-shrink .header-nav-wrapper nav ul li a:hover,
.secondary-nav-wrapper ul.secondary-nav li.subscribe a:hover{
   color: #{{ site.color.light}};
}
.secondary-nav-wrapper ul.secondary-nav li.subscribe,
.header-nav-wrapper nav ul li{
  border-right: solid 1px rgba(255,255,255,0.15);
}
.secondary-nav-wrapper ul.secondary-nav li.subscribe:after{
  border-right: none;
}

.navbar-shrink {
     background-color: #414A52;
}
.navbar-shrink .header-nav-wrapper nav ul li {
    border-right: solid 1px #505c66;
}
.navbar-shrink .header-nav-wrapper nav ul li:last-child {
    border-right: none;
}
.navbar-shrink .header-nav-wrapper nav ul li a {
    color: #fff;
}
.secondary-nav-wrapper {
    background-color: transparent;
}
.navbar-shrink .secondary-nav-wrapper {
    background-color: #414A52;
}
.secondary-nav-wrapper ul.secondary-nav li.subscribe{
    padding: 10px;
}
.secondary-nav-wrapper ul.secondary-nav li.subscribe.lang + li.subscribe.lang {
    padding: 10px 0 10px 10px;
}

.secondary-nav-wrapper ul.secondary-nav li.subscribe.lang + li.subscribe.lang {
    padding: 10px 0 10px 10px;
    border-right: none;
}
.secondary-nav-wrapper ul.secondary-nav li.subscribe.lang + li.subscribe.lang:after {
    border-right: none;
}


/* ==========================================================================
Intro
========================================================================== */
.section-intro h2 {
    font-weight: 500;
    line-height: 15px;
    display: inline-block;
    margin-bottom: 30px;
    padding: 15px 30px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: solid 2px #71D5D2;
    color: #414A52;
}
.section-intro p.lead {
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #414A52;
}


/* ==========================================================================
Sections
========================================================================== */


.dark-box { background: #f3f5f8; -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
-moz-box-shadow: 0px 3px 0px 0px #f0f2f4; box-shadow: 0px 3px 0px 0px #f0f2f4; }
.light-box { background-color: #fff; -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
 -moz-box-shadow: 0px 3px 0px 0px #f0f2f4; box-shadow: 0px 3px 0px 0px #f0f2f4; padding: 20px 0; }
.light-box:hover, .light-box:focus { -webkit-box-shadow: 0px 3px 0px 0px #3dc9b3;
-moz-box-shadow: 0px 3px 0px 0px #3dc9b3; box-shadow: 0px 3px 0px 0px #3dc9b3; }
.box-hover { transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; }
.box-hover:hover, .box-hover:focus { transform: translate(0, -15px);
-webkit-transform: translate(0, -15px); -ms-transform: translate(0, -15px); }
.nopadding { padding: 0; }


/* ==========================================================================
technologies
========================================================================== */

#technologies .container .row:first-child + .row{ margin-top: 2em;}


/* ==========================================================================
Subscribe form
========================================================================== */

.subscribe-form {
    background: url('../img/keyboard-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 120px 0 140px;
}
.subscribe-form h1 { color: #fff; margin-bottom: 40px; }
.subscribe-form h1 span { display: block; font-size: 15px; text-transform: uppercase;
font-weight: bold; margin-top: 20px; letter-spacing: 1px; }

.subscribe-form input[type=email],
.subscribe-form input[type=text] { background-color: rgba(255, 255, 255, 0.1);
border: solid 1px #fff; padding: 20px; width: 30%; color: #fff; }

.subscribe-form input[type=submit] { background: rgba(113,213,210,0.5); border: solid 1px rgba(113,213,210,0.5);
padding: 20px; color: #fff; text-transform: uppercase; letter-spacing: 1px; transition: all 0.5s ease; -moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; }

.subscribe-form input[type=submit]:hover { background: rgba(113,213,210,1); border: solid 1px rgba(113,213,210,1); color: #fff; }
.subscribe-form .response{ color: white;}

/* ==========================================================================
Buttons
========================================================================== */

.btn.primary {
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background-color: #7AE2DE;
    padding: 20px;
    text-decoration: none;
    line-height: 1;
    background: rgba(113,213,210,0.5); border: solid 1px rgba(113,213,210,0.5);
padding: 20px; color: #fff; text-transform: uppercase; letter-spacing: 1px; transition: all 0.5s ease; -moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease;
}


.btn.primary:hover {
  background: rgba(113,213,210,1); border: solid 1px rgba(113,213,210,1); color: #fff;
}



/* ==========================================================================
List results 404
========================================================================== */

.post-list {
    padding: 0;
    list-style-type: none;
}

.post-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(0,0,0,.1);
    *zoom: 1;
}

.post-list li:after,.post-list li:before {
    display: table;
    line-height: 0;
    content: "";
}

.post-list li:after {
    clear: both;
}

.post-list a>span {
    float: right;
}

.post-list .entry-date {
    display: none;
    font-size: 14px;
    text-transform: uppercase;
}

@media only screen and (min-width:48em) {
    .post-list .entry-date {
        display: inline;
    }
}

/* ==========================================================================
Contact
========================================================================== */

.contact-details { margin: 70px 0; }
.contact-details p {
    color: #8c9398;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    margin: 1em 0;
}
.contact-details h2 { font-size: 20px; }
.contact-details h2 span { display: block; color: #3dc9b3; text-transform: uppercase;
letter-spacing: 1px; font-size: 14px; margin-top: 15px; }
.contact-wrap { position: relative; }
.contact-details h2::after {
    content: " ";
    border: solid 2px #7AE2DE;
    display: block;
    width: 35px;
    margin: 25px auto;
}

/* ==========================================================================
Up button
========================================================================== */
.up-btn { width: 50px; height: 50px; border-radius: 50%; -moz-border-radius: 50%;
 -webkit-border-radius: 50%; -o-border-radius: 50%; background: rgba(113,213,210,0.5);
 display: block; margin: 0 auto; color: #fff; font-size: 18px; line-height: 46px;
 text-align: center; position: absolute; top: -26px; left: 0; right: 0;
 margin-left: auto; margin-right: auto; }

.up-btn:hover, up-btn:focus { color: #fff; background: rgba(113,213,210,1); }


/* ==========================================================================
Waypoints
========================================================================== */

.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }


/* ==========================================================================
Portfolio
========================================================================== */

.effects { padding-left: 15px; }
.effects .img { position: relative; position: relative; z-index: 1; overflow: hidden; }
.effects .img:nth-child(n) { margin-right: 5px; }
.effects .img:first-child { margin-left: -15px; }
.effects .img:last-child { margin-right: 0; }
.effects .img img { display: block; margin: 0; padding: 0; height: auto; }
.overlay { display: block; position: absolute; z-index: 20;
background: rgba(113,213,210,0.8);
overflow: hidden;
transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; }
a.close-overlay {
  display: block; position: absolute; top: 0; right: 0; z-index: 100; width: 45px;
height: 45px; font-size: 20px; font-weight: 700; color: #fff; line-height: 45px;
text-align: center; background-color: #000; cursor: pointer; }
a.close-overlay.hidden { display: none; }
a.expand { display: block; position: absolute; z-index: 100; text-align: center; color: #fff;
font-weight: 600; font-size: 14px; text-transform: uppercase; line-height: 30px; }
.overlay-effect .img i { font-size: 30px; }
.overlay-effect .overlay { bottom: 0; left: 0; right: 0; width: 100%; height: 100%; opacity: 0; }
.overlay-effect .overlay a.expand { left: 0; right: 0; bottom: 47%; margin: 0 auto -30px auto; }
.overlay-effect .img.hover .overlay { height: 100%; opacity: 1; }
.img img {
  width: -webkit-calc(100% + 40px) !important;
  width: calc(100% + 40px) !important;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-moz-transition: opacity 0.35s, -moz-transform 0.35s;
-o-transition: opacity 0.35s, -o-transform 0.35s;
-webkit-transform: translate3d(-40px, 0, 0);
transform: translate3d(-40px, 0, 0);
-ms-transform: translate3d(-40px, 0, 0); }
.img:hover img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -ms-transform: translate3d(-40px, 0, 0); }
.designs { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 50px; }


/* ==========================================================================
Pages: General
========================================================================== */

.content h2{
  font-weight: 600;
  margin: 7px 0 65px 0px;
  text-transform: uppercase;
  color: initial;
}

.content h2:after {
    display: block;
    width: 120px;
    height: 2px;
    margin-top: 15px;
    content: '';
    background-color: #7AE2DE;
}
/* ==========================================================================
Pages: Project
========================================================================== */

.project .content ol, .project .content ul {
    list-style: inherit;
    margin: 10px 0 0px 20px;
}
.project .content ul li {
    list-style: inherit;
}

/* ==========================================================================
Portfolio Modal
========================================================================== */

.portfolio-modal.modal.fade.in {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 0 !important;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
    font-weight: 500;
    line-height: 15px;
    display: inline-block;
    padding: 15px 30px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #414A52;
}

.portfolio-modal .modal-content hr {
    border-top: 1px solid #71D5D2;
}

.portfolio-modal .modal-content p {
    margin-bottom: 10px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* ==========================================================================
Blog
========================================================================== */

button.menu-button {
    top: 80px;
}
